:root {
  --secondary-color: #041252; /*  dark blue */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
  position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color:white; /* Match your light purple/neutral wireframe background if desired */
}

header nav ul.navigation {
    display: flex;
    list-style: none;
    gap: 1rem;
}

header nav ul.navigation li a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
}

header img {
  grid-template-columns: 1fr 3fr 1fr;
  width: 100px;
  height: auto;
}

.navigation {
  display: flex;
 list-style: none;
 gap: 1.5rem;
 padding:0;
 margin:0;
}
nav {
  justify-self: end;
  display: block;
  background-color: #a8722a;
}

.history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.history-grid img {
  width: 100%;
  height: auto;
}

.hero img {
    width: 100%;
    height: auto;
    padding: 16px;
  }

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: none;
  color: #eee; 
}

.hero article {
  position: absolute;
  bottom: 30px;
  width: 80%;
  text-align: left;
  padding-left: .25em;
  opacity: 0.8;
  background-color:var(--secondary-color);
  left: 118px;
  color: #eee

}

article p {
    padding-left: .5em;
    padding-right: .5em;
}

.hero article img {
  float: right;
  width: 125px;
  padding-right: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
}

.socialmedia img {
    padding: .25em;

}
footer {
  display: block;
  font-size: large;
  background-color: #a8722a;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

h2 {
 top: 20px;
  width: 100%;
 padding: 16px;
  text-align: center;
  background-color: #fff; /* white background */
  color: black; 
 }  

.socialmedia a {
    text-decoration: none;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.adventure-grid img {
    width: 150px;
    height: 150px;      /* Keeps them from being too tall */
    object-fit: cover;  /* Crops them nicely */
    border-radius: 6px;
    gap: 1rem;
}