* , *::before, *::after {
    box-sizing: border-box;
}


main {
    width: 700px;
    margin: auto;
    background-color: #d3d3d3;
    padding: 1.25rem;
}

fieldset {
    border: 2px solid #000000;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fefefe;
}

legend {
    font-size: 1.5rem;
    color: #1107a8;
    font-weight: bold;
    padding: 0 10px;
}

input, select, textarea {
    font-size: 1.25rem;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: 3px solid #41002b;
}

.code {
    background-color: #09014b;
    font-family: monospace;
    color: #f3f3f3;
    padding: 10px 5px;
    border-radius: 5px;
    width:fit-content;
    margin: 0 auto;
}

.number {
    font: bold;
    font-size: 2em;
    color: #41002b;
    font-style: italic;
}

button {
    font-size: 1.25rem;
    padding: 10px 20px;
    background-color: #09014b;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}