nav {
    padding: 10px;
}

nav a {
    background-color: white;   
    padding: 0;
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    background-color: #7a7878;
    color: #eee;
}



img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

aside {
width: 20em;
text-align: center;
position: relative;
}
aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    color: rgb(1, 26, 1);
}

aside img {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}